body, html {
    margin: 50px 200px;
}

 body {
     min-width: 90px;
     text-align: center;
     overflow: auto;
 }

header {
    max-height: 150px;
    min-height: 100px;
    background: #bfd8d2;
}

.content1 {
    height: 70px;
    background: #dcb239;
}

.content2 {
    min-height: 130px;
    max-height: 280px;
    max-width: 500px;
    background: #df744a;
    color: white;
}

.content3 {
    min-height: 155px;
    max-height: 300px;
    background: #f19f4d;
    color: white;
}

.content4 {
    min-height: 70px;
    max-height: 200px;
    max-width: 400px;
    background: #fff366;
}


footer {
    max-width: 350px;
    min-height: 30px;
    max-height: 60px;
    background: #4484ce
}

header, .content1, .content2, .content4 {
    overflow: hidden;
}

.content1, .content2, .content3, .content4, footer {
    margin-top: 10px;
}

.content2, .content3, .content4, footer {
    margin-left: auto;
    margin-right: auto;
}